html{
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	
}

h1{
	width: 39%;
	padding: 2.2% 0;
	background: rgba(75,216,323,.4);
	text-align: center;
	top: 1.69%;
	left: 0;
	color: #fff;
	font-weight: normal;
}
.map{
	height: 100%;
	opacity: .9;
}
/*..............今天/昨天交易金额样式开始............*/
.money{
	position: absolute;
	top: 22.9%;
	left: 2.9%;
}
.money div{
	font-size: 20px;
}
.money .pay div,
.money .yesterdayPay div{
	float: left;
}
.w280{
	width: 280px;
	line-height: 80px;
	height: 80px;
}
.colord7cf69{
	color: #c5c488;
}

.money .yPay,
.money .rise{
	margin-left: 10px;
	letter-spacing: 2px;
}
.money .payList{
	float: left;
	max-width: ;
}
.money .payList li{
	height: 7.8%;
	background: #0fb8dc;
	margin-right: 15px;
	float: left;
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 70px;
	padding: 0 2px;
}
.money .day{
	font-size: 40px;
	line-height: 80px;
	float: left;
}
.money .time{
	/*color: #c5c3cd;*/
	font-size: 18px;
}
/*..............今天/昨天交易金额样式结束............*/
.left{
	width: 32%;
	position: absolute;
	top: 0;
	right: 1%;
	height: 100%;
	padding-bottom: 1.5%;
	box-sizing: border-box;
	display: box;
  	display: -webkit-box;
  	box-orient: vertical;
  -webkit-box-orient: vertical;
  box-align: center;
  -webkit-box-align: center;
}
.tac{
	text-align: center;
}

.contain{
	position: relative;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,.3);
	box-shadow: 0 0 5px rgba(255,255,255,.3);
	padding: 30px 10px 0px;
	width: 100%;
	margin-top: 40px;
	box-sizing: border-box;
	box-flex: 1;
  	-webkit-box-flex: 1;
  	display: box;
  	display: -webkit-box;
	box-align: center;
  	-webkit-box-align: center;
}
.box .inbox.inboxCenter{
	height: auto;	
}
.box{
	width: 100%;
	display: box;
  	display: -webkit-box;
  	box-align: center;
  	-webkit-box-align: center;
  	position: absolute;
  	top: 10%;
  	bottom: 10%;
}
.box .inbox{
	width: 50%;
	height: 100%;
}
.title{
	width: 61.3%;
	background: rgba(15,45,74,.3);	
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #c7c77e;
	font-size: 20px;
	font-family: 微软雅黑;
	position: absolute;
	left: 50%;
	top: -20px;
	transform: translateX(-50%);
}
.pie01-wireless,
.pie01-pc{
	text-align: center;
	color: #a39d97;
	font-size: 12px;
}
.inbox .pie04-channel{
	margin-top: 10px;
}
.pie04-channel{
	width: 100%;
}
.pie04-channel li{
	overflow: hidden;
	width: 100%;
	padding-left: 15px;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.pie04-channel li div{
	float: left;
	color: #ccccd2;
	font-size: 14px;
	text-align: center;
	font-family: 微软雅黑;
}
.pie04-channel li div:nth-child(1){
	width: 10%;
}
.pie04-channel li div:nth-child(2){
	width: 28%;
}
.pie04-channel li div:nth-child(3){
	width: 45%;
}
.pie04-channel li:nth-child(1) div.number span{
	background: none;
	color: transparent;
}
.pie04-channel li div.number span{
	background: #50e6f6;
	border-radius: 100%;
	color: #fff;
	width: 16px;
	height: 16px;
	line-height: 16px;
	display: block;
}
.dn{
	display: none;
}
/*。。。。。。。。。。。。。热销商品与平铺排行。。。。。。。。。。。。*/
.containSort{
	position: absolute;
	bottom: 2%;
	left: 5px;
	width: 37.7%;
}
.containSort .box{
	position: relative;
	top: auto;
	bottom: auto;
}
.goodsSortList{
	width: 100%;
}
.pie04-channel.goodsSortList li div:nth-child(1),
.pie04-channel.shopSortList li div:nth-child(1){
	width: 7%;
}
.pie04-channel.goodsSortList li div:nth-child(2),
.pie04-channel.shopSortList li div:nth-child(2){
	width: 60%;
}
.pie04-channel.goodsSortList li div:nth-child(3),
.pie04-channel.shopSortList li div:nth-child(3){
	width: 33%;
}

