.dn{
	display: none !important;
}
.box0 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.bg{
	background: url(../images/p1_bg.jpg) no-repeat;
	background-size: 100% 100%;
}
/*答题记录*/
.box0-title{
	text-align: center;
	margin: 10px auto;
}
.box0-start{
	text-align: center;
	position: absolute;
	bottom: 10%;
	width: 100%;
}
.box0-list{
	width: 90%;
	height: 70%;
	overflow-y: auto;
	margin: 5% auto;
}
.box0-list li{
	display: box;
  	display: -webkit-box;
  	box-orient: vertical;
  -webkit-box-orient: vertical;
  box-align: center;
  -webkit-box-align: center;
  border-bottom: blue dashed 1px;
}
.box0-list li .box0-up{
	display: box;
  	display: -webkit-box;
}
.box0-score{
	box-flex: 1;
  -webkit-box-flex: 1;
   box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0px 10px;
}
.box0-time{
	display: box;
  	display: -webkit-box;
  	width: 130px;
  	
}
.box0-continue{
	text-align: center;
	border: blue solid 1px;
	border-radius: 10%;
	padding: 0px 15px;
	margin: 0px 5px;
	background: none;
}
.box-continue:hover{
	background: blue;
	color: #fff;
	cursor: pointer;
}

